@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Localizer["title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SignUpProject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item nav-link">
                                <a asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                            </li>

                            @if (User.Identity.IsAuthenticated && (await AuthorizationService.AuthorizeAsync(User, "StaffRole")).Succeeded)
                            {
                                <li class="nav-item dropdown" style="color: grey">
                                    <a class="nav-item nav-link dropbtn" id="staffBtn" aria-haspopup="true" aria-expanded="false">
                                        @Localizer["Staff actions"]
                                    </a>
                                    <div class="dropdown-content" id="staffActions">
                                        <a class="dropdown-item" asp-area="" asp-controller="Camps" asp-action="Index">@Localizer["Camps"]</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Counselors" asp-action="Counselors">@Localizer["Staff"]</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Data" asp-action="Search">@Localizer["Search"]</a>


                                        @if ((await AuthorizationService.AuthorizeAsync(User, "AdminRole")).Succeeded)
                                        {
                                            <a class="dropdown-item" asp-area="" asp-controller="Camps" asp-action="Create">@Localizer["Add a camp"]</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Counselors" asp-action="AddCounselor">@Localizer["Add a counselor"]</a>
                                        }
                                    </div>
                                </li>

                                <li class="nav-item nav-link">
                                    <div>
                                        <a asp-area="" asp-controller="Account" asp-action="Logout">@Localizer["Logout"]</a>
                                    </div>
                                </li>


                            }
                            else
                            {
                                <li class="nav-item nav-link">
                                    <a asp-area="" asp-controller="SignUps" asp-action="SignUp">@Localizer["Camp sign up"]</a>

                                </li>
                                <li class="nav-item nav-link">
                                    <a asp-area="" asp-controller="Account" asp-action="Login">@Localizer["Login"]</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div id="language-selector" class="text-right">
                    @await Html.PartialAsync("SelectCulture")
                </div>
            </div>

        </nav>
    </header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
            
    </main>
</div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - @Localizer["title"]
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Layout.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
