@model SignUpProject.Models.ViewModel
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    ViewData["Title"] = Localizer["title"];
}
<div class="contents">
    <h1>@Localizer["title"]</h1>

<div>
        <h4>@Localizer["camp"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
                @Localizer["name"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Camp.Name)
        </dd>
        <dt class = "col-sm-2">
                @Localizer["location"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Camp.Location)
        </dd>
        <dt class = "col-sm-2">
                @Localizer["capacity"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Camp.Capacity)
        </dd>
        <dt class = "col-sm-2">
                @Localizer["start"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Camp.Start)
        </dd>
        <dt class = "col-sm-2">
                @Localizer["end"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Camp.End)
        </dd>
    </dl>
    
    <hr/>

    <table>
        <thead>
                <h4>@Localizer["staff"]</h4>
        </thead>
        <tbody>
        <tr>
            <th>
                        @Localizer["personname"]
            </th>
            <th>
                        @Localizer["tel"]
            </th>
            <th>

            </th>
        </tr>
        @{
            if (Model.Counselors.Count > 0)
            {
                foreach (var item in Model.Counselors)
                    {
                        <tr>
                            <td>
                                @item.FirstName @item.LastName
                            </td>
                            <td>
                                @item.Tel
                            </td>
                            <td>
                                <a asp-action="Details" asp-controller="Counselors" asp-route-id="@item.Id">
                                    <span title="@Localizer["details"]" class="material-symbols-outlined">
                                        info
                                    </span>
                                </a>
                            </td>
                        </tr>
                    }
            }
            
        }
        </tbody>
    </table>
    <br/>
    <hr/>
    <br/>
    
    <table>
        <thead>
        <h4>@Localizer["campers"]</h4>
        </thead>
        <tbody>
        <tr>
            <th>
                @Localizer["personname"]
            </th>
            <th>
                @Localizer["guardian"]
            </th>
            <th>
                @Localizer["guardiantel"]
            </th>
            <th>
                @Localizer["ridein"]
            </th>
            <th>
                @Localizer["rideout"]
            </th>
            <th>

            </th>
        </tr>
        @{
            if (Model.Campers.Count > 0)
            {
                foreach (var item in Model.Campers)
                {
                    var campPeople = Model.AllCampPeople.FirstOrDefault(x => x.Camper == item.Id);
                    <tr>
                        <td>
                            @item.FirstName @item.LastName
                        </td>
                        <td>
                            @Model.Guardians.FirstOrDefault(x => x.Id == item.Guardian).Name
                        </td>
                        <td>
                            @Model.Guardians.FirstOrDefault(x => x.Id == item.Guardian).Tel
                        </td>
                        <td>
                            @if (campPeople.RideIn)
                            {
                                <span class="material-symbols-outlined">
                                    check
                                </span>
                            }
                        </td>
                        <td>
                            @if (campPeople.RideOut)
                            {
                                <span class="material-symbols-outlined">
                                    check
                                </span>
                            }
                        </td>
                            
                        <td>
                            <a asp-action="Details" asp-controller="Campers" asp-route-id="@item.Id">
                                <span title="@Localizer["details"]" class="material-symbols-outlined">
                                    info
                                </span>
                            </a>
                        </td>
                        
                    </tr>
                }
            }
            
        }
        </tbody>
    </table>
        <br />
        <hr />
    <br />
    
    <h4>@Localizer["dietinfo"]</h4>
        <ul>
    @foreach (var allergy in Model.Allergies)
    {
        <li>@allergy.Item, @Localizer[@allergy.Severity.ToString()]</li>
    }
    </ul>
    <br/>
    <hr/>

</div>
<div>
        <a asp-action="Edit" asp-route-id="@Model?.Camp.Id">@Localizer["edit"]</a> |
        <a asp-action="Index">@Localizer["list"]</a>
</div>
</div>