@model SignUpProject.Models.ViewModel

@{
    ViewData["Title"] = "Index";
}
<div class="container contents">
<h1>Index</h1>
@if ((await AuthorizationService.AuthorizeAsync(User, "AdminRole")).Succeeded)
{
    <div class="row">
        <a asp-action="Create">
            <span title="add new camp" class="material-symbols-outlined">
                add
            </span>
        </a>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Camp.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Camp.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Camp.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Camp.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Camp.End)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Camps) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            @if ((await AuthorizationService.AuthorizeAsync(User, "AdminRole")).Succeeded)
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        <span title="edit @item.Name" class="material-symbols-outlined">
                            edit
                        </span>
                    </a> 
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <span title="@item.Name details" class="material-symbols-outlined">
                            info
                        </span>
                    </a> 
                    <a asp-action="Delete" asp-route-id="@item.Id">
                        <span title="delete @item.Name" class="material-symbols-outlined">
                            delete
                        </span>
                    </a>
                </td>
            }
            else
            {
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <span title="@item.Name details" class="material-symbols-outlined">
                            info
                        </span>
                    </a>
                </td>
            }
            
        </tr>
}

    </tbody>
</table>
</div>