@model SignUpProject.Models.ViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Camper</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Camper.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Camper.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Camper.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Camper.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Camper.StreetAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Camper.StreetAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Camper.PostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Camper.PostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Camper.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Camper.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Camper.Guardian)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Camper.Guardian)
        </dd>
    </dl>
    <dl>
        <dt class="col-sm-2">
            <p>Allergies</p>
        </dt>
        @{ if (Model.Allergies != null)
           {
               foreach (var allergy in Model.Allergies)
               {
                   <dt class="col-sm-2">
                       @allergy.Item
                       @allergy.Severity
                   </dt>
               }
           }
        }
    </dl>
    <dl>
        <dt class="col-sm-2">
            <p>Medication</p>
        </dt>
        @{
            if (Model.Medications != null)
            {
                foreach (var item in Model.Medications)
                {
                    <dt class="col-sm-2">
                        @item.Item
                        @item.Instructions
                    </dt>
                }
            }
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
