@using System.Security.Claims
@using Microsoft.AspNetCore.Identity

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    ViewData["Title"] = @Localizer["home"];
}

@{
    var userClaimsDictionary = new Dictionary<string, string>();
    var i = 2;
    foreach (var claim in User.Claims)
    {
        if (userClaimsDictionary.Keys.Any(x => x.Equals(claim.Type)))
        {
            userClaimsDictionary.Add(claim.Type + i, claim.Value);
            i++;
        }
        else
        {
            userClaimsDictionary.Add(claim.Type, claim.Value);
        }
    }
} 
<div class="container contents">
<div class="row">
    <div class="col-1">
        <img id="logo" src="Media/android-chrome-512x512.png" />
    </div>
    <div class="col">
        <h1>@Localizer["title"]</h1>
    </div>
</div>
    <br/>
    @*if database needs to be repopulated with mock data
    <a asp-controller="Tests" asp-action="PopulateDatabase">Do some database magic</a>*@
    <br/>
<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h3>@Localizer["welcome"] @User.Identity.Name</h3>
        
    }
    else
    {
        <h1 class="display-4">@Localizer["new welcome"]</h1>
    }
    
</div>
<br/>
    <div>
        <p>@Localizer["first"]</p>
        <p>@Localizer["second"]</p>
        <p>@Localizer["third"]</p>
        <p>@Localizer["fourth"]</p>


    </div>
</div>