@model SignUpProject.Models.ViewModel

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    ViewData["Title"] = Localizer["delete"];
}
<div class="contents delete">
    <h1>@Localizer["delete"]</h1>
    <p class="fw-bolder">@Localizer["confirm"]</p>
    <br/>
    <div class="row">

        <hr />
        <div class="col-sm-12 col-lg-6">
            <table>
                <tbody>
                <tr>
                    <td class="fw-bold">
                        @Localizer["firstname"]
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Camper.FirstName)
                    </td>
                </tr>
                <tr>
                    <td class="fw-bold">
                        @Localizer["lastname"]
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Camper.LastName)
                    </td>
                </tr>
                <tr>
                    <td class="fw-bold">
                        @Localizer["street"]
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Camper.StreetAddress)
                    </td>
                </tr>
                <tr>
                    <td class="fw-bold">
                        @Localizer["postcode"]
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Camper.PostalCode)
                    </td>
                </tr>
                <tr>
                    <td class="fw-bold">
                        @Localizer["city"]
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Camper.City)
                    </td>
                </tr>
                <tr>
                    <td class="fw-bold">
                        @Localizer["dob"]
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Camper.DoB)
                    </td>
                </tr>
                <tr>
                    <td class="fw-bold">
                        @Localizer["guardianname"]
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Guardian.Name)
                    </td>
                </tr>
                <tr>
                    <td class="fw-bold">
                        @Localizer["guardiantel"]
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Guardian.Tel)
                    </td>
                </tr>
                <tr>
                    <td class="fw-bold">
                        @Localizer["guardianemail"]
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Guardian.Email)
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <br/>
        <div class="col-sm-12 col-lg-6">
            <table>
                <thead><h4>@Localizer["allergies"]</h4></thead>
                <tbody>
                @foreach (var allergy in Model.Allergies)
                {
                    <tr>
                        <td class="fw-bold">
                            @allergy.Item
                        </td>
                        <td>
                            @Localizer[allergy.Severity.ToString()]
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <br />
            <table>
                <thead><h4>@Localizer["medication"]</h4></thead>
                <tbody>
                @foreach (var med in Model.Medications)
                {
                    <tr>
                        <td class="fw-bold">
                            @med.Item
                        </td>
                        <td>
                            @med.Instructions
                        </td>
                    </tr>
                }

                </tbody>
            </table>
            <br />
            <div>
                <h4>@Localizer["camps"]</h4>
                <ul>
                    @foreach (var camp in Model.Camps)
                    {
                        <li>
                            <a asp-action="Details" asp-controller="Camps" asp-route-id="@camp.Id">
                                @camp.Name @camp.Start.ToString("d.M.yyyy")-@camp.End.ToString("d.M.yyyy")
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <hr />
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Camper.Id" />
        <input type="submit" value="@Localizer["delete"]" class="btn btn-danger" /> | 
        <a asp-action="Details">@Localizer["details"]</a> | 
        <a asp-action="Search" asp-controller="Data">@Localizer["search"]</a>
    </form>


    <div>
        <div>
            <div></div>
        </div>
    </div>
</div>