@using System.Text.Json
@model SignUpProject.Models.ViewModel

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    ViewData["Title"] = Localizer["search"];
}
<link rel="stylesheet" href="~/css/SearchPage.css" asp-append-version="true" />
<script type="text/javascript" src="~/js/SearchPage.js" asp-append-version="true" defer></script>

<div class="container contents">
    <h1>@Localizer["header"]</h1>

    <div>
        <div class="row">
            <form id="query">
                <span title="@Localizer["search..."]" aria-label="@Localizer["search..."]" ><input type="text" id="queryString" name="q" placeholder="@Localizer["search..."]" /></span>
                <input id="filterDataCamps" type="hidden" name="searchData" value="@JsonSerializer.Serialize(Model.Camps)"/>
                <input id="filterDataCampers" type="hidden" name="searchData" value="@JsonSerializer.Serialize(Model.Campers)"/>
                <input id="filterDataCounselors" type="hidden" name="searchData" value="@JsonSerializer.Serialize(Model.Counselors)"/>
                <input style="display: none" type="submit" id="searchSubmit" value="@Localizer["search"]"/>
            </form>
        </div>
        <div class="row">
            <div class="col">
                <button><h3 id="campTrigger">@Localizer["camps"]</h3></button>
                <ul class="hide border" id="camps">

                </ul>
            </div>
            <div class="col">
                <button><h3 id="camperTrigger">@Localizer["campers"]</h3></button>
                <ul class="hide border" id="campers">

                </ul>
            </div>
            <div class="col">
                <button><h3 id="staffTrigger">@Localizer["staff"]</h3></button>
                <ul class="hide border" id="counselors">

                </ul>
            </div>
        </div>

    </div>
</div>


