@model ViewModel
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    ViewData["Title"] = Localizer["counselors"];
}


<div class="container contents">
    <div class="row">
        <h1>@Localizer["counselors"]</h1>
        <div class="col-sm-12 col-lg-6">
            <table style="width: 100%; height: 100%;">
                <tbody>
                <tr>
                    <th>
                            @Localizer["name"]
                    </th>
                    <th>
                            @Localizer["tel"]
                    </th>
                    <th>
                            @Localizer["camps"]
                    </th>
                    <th>

                    </th>
                </tr>

                @foreach (var item in Model.Counselors)
                {
                    <tr>
                        <td>
                            @item.FirstName @item.LastName
                        </td>
                        <td>
                            @item.Tel
                        </td>
                        <td>
                            @foreach (var staff in Model.CompleteStaff.Where(x => x.Counselor == item.Id))
                            {
                                var camp = Model.Camps.FirstOrDefault(x => x.Id == staff.Camp);
                                
                                    <div>
                                        <a asp-controller="Camps" asp-action="Details" asp-route-id="@camp.Id">
                                            @camp.Name
                                        </a>
                                        @if (staff.IsInCharge){ @Localizer["leader"] }
                                    </div>
                                
                            }
                        </td>
                        @if ((await AuthorizationService.AuthorizeAsync(User, "AdminRole")).Succeeded)
                        {
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">
                                        <span title="@Localizer["edit"]" class="material-symbols-outlined">
                                        edit
                                    </span>
                                </a>
                                <a asp-action="Details" asp-route-id="@item.Id">
                                        <span title="@Localizer["details"]" class="material-symbols-outlined">
                                        info
                                    </span>
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.Id">
                                        <span title="@Localizer["delete"]" class="material-symbols-outlined">
                                        delete
                                    </span>
                                </a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id">
                                        <span title="@Localizer["details"]" class="material-symbols-outlined">
                                        info
                                    </span>
                                </a>
                            </td>
                        }
                    </tr>
                }

                </tbody>
            </table>
        </div>
        <div class="col">
            <img id="counselor-image" src="~/Media/people.jpg" />
        </div>
    </div>
    
</div>